# Frontend-only public settings
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEON_AUTH_BASE_URL=http://localhost:3000
NEON_AUTH_COOKIE_SECRET=d93407a711f9ccfb6c7f386b00170cd681f6c47efb988a59da7dc283bf7b8a0a
